html{
    background: var(--backcolor);
}
:root {
    --backcolor:linear-gradient(90deg,#0e0a20 ,#403480);
    --cardcolor: #ffffff;
}  
.grid{
    background: var(--backcolor);
    padding: 70px;
    padding-left: 450px;

}