.container{
    display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body{
  /* overflow: hidden; */
    background-color: rgb(41, 37, 37);
    
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
.btn-secondary:hover{
  background-color: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
.card{
  background-color: #c4b9b9;
  cursor: pointer;

}
header{
    display: flex;
    flex: 1;
}

.btn-secondary{
  display: none;
}
.card:hover .btn-secondary{
  cursor: pointer;
  display: inline-block;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  .active{
    background-color: red;
  }
  li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .firstelem{
    margin-left: 50px;
  }
  
  li a:hover{
    background-color: red;
  }
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
 
  
